@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <img src="https://previews.dropbox.com/p/thumb/ABNqtn6W23qLtJzuDQDTCcgQgT7ytuTjdhYN-IOQjCbayrUifbtDx88rVg__tuUd9AlGjbdp5faKOmiFMpYl-ArTYR7SE3NfPseI2GV2qUohHeIZd8xEqy8Iqvaxo-P0itzvXo2UcngUIaAVZRATxUaFuCq4D5xOJTsePcRlYZBiiWbQD6IPciZhiscnQ2s8FsPumyFoi7SbKL3khoKhljIna01B-_0AFBnE5yT5G30eV_gBoHXoJL2ngFexMqdfChzjGqgUCIz7HVPsgBOr8p22_G1clAWkV0CJOwytkiM1Sl3vBXPdHq2pFo4wKHYQmD6mYnlAndSG36WTZikGSoQLFqoywq9iLktGgBoL89r8CA/p.png?fv_content=true&size_mode=5" />
    </div>
    <p>Check our bicycle workshop <a href="https://www.facebook.com/sykkelsjappe/">and book yourself an appointment.</a>.</p>
</div>
