@{
    ViewData["Title"] = "All available Custome bikes:";
}
@*<h2 class="heading-margin text-center">Availlable custome bikes:</h2>*@
@*<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://images.auctionet.com/thumbs/medium_item_663918_0dc75f0d56.JPG" alt="DBS">
        <div class="card-body">
            <h5 class="card-title">DBS</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 21 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKu2Kif7ZzqOdT37XxMscgtGswRGzp1g3yug&usqp=CAU" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Den Beste Sykkel</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/originals/3f/01/d8/3f01d8685f6cf55d18c750dacf959d10.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">DBS brand</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 7 mins ago</small>
        </div>
    </div>
</div>*@
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All available bikes</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Category</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bike in Model)
                    {
                        <tr>
                            <th scope="row">@bike.Brand</th>
                            <td>@bike.Model</td>
                            <td>@bike.Year</td>
                            <td>@bike.Category</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Bikes/All?bikeId=@bike.Id" class="btn btn-info text-uppercase">Info</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
