@model List<BikeViewModel>

@{
    ViewData["Title"] = "All bikes";
}
<h1>
    All availlable bikes:
</h1>

<ul>
    @foreach (var bike in Model)
    {
        <li>
            @bike.Brand => @bike.Price
        </li>
    }
</ul>
