@model BikeFormModel

@{
    ViewData["Title"] = "Create bike";
}

<form>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label asp-for="Brand" class="mr-sm-2" for="inlineFormCustomSelect">Choose brand</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">DBS</option>
                <option value="2">BMX</option>
                <option value="3">Giant</option>
            </select>
        </div>
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Choose frame</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">10inch</option>
                <option value="2">13inc</option>
                <option value="3">15inch</option>
            </select>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" for="formGroupExampleInput2">Price of the bike</label>
            <input asp-for="Price" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Price">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>