<form method="post" action="/cats/search">
    First name: <input type="text" name="FistName"/> <br />
    Last name: <input type="text" name="LastName"/> <br />
    Age: <input type="number" name="Age"/> <br />
    <input type="submit" />
</form>