@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>
            <img src="https://previews.dropbox.com/p/thumb/ABNqtn6W23qLtJzuDQDTCcgQgT7ytuTjdhYN-IOQjCbayrUifbtDx88rVg__tuUd9AlGjbdp5faKOmiFMpYl-ArTYR7SE3NfPseI2GV2qUohHeIZd8xEqy8Iqvaxo-P0itzvXo2UcngUIaAVZRATxUaFuCq4D5xOJTsePcRlYZBiiWbQD6IPciZhiscnQ2s8FsPumyFoi7SbKL3khoKhljIna01B-_0AFBnE5yT5G30eV_gBoHXoJL2ngFexMqdfChzjGqgUCIz7HVPsgBOr8p22_G1clAWkV0CJOwytkiM1Sl3vBXPdHq2pFo4wKHYQmD6mYnlAndSG36WTZikGSoQLFqoywq9iLktGgBoL89r8CA/p.png?fv_content=true&size_mode=5" />
        </div>
        <p>Check our bicycle workshop <a href="https://www.facebook.com/sykkelsjappe/">and book yourself an appointment.</a>.</p>
    </div>*@

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1>Welcome future customers</h1>
    }
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" height="500" src="https://previews.dropbox.com/p/orig/ABP4ZIMhk5tH6jIBb47Mm1aeC59bpYNiRDOVeUlgF3XJYTYcsauxShkSKsAXtuSsaC1klpvC6cMevgw4Zq7cXIwdLyiQkRqDP-6gIwZC_MVbvs4xzZwKiY_4AszuxkGXX9MFH0CJSyb3OwrP9fqrKgkZxiJ83S9kmxRVtobQ0LHhizIMP-_Yki-1KpGxUCfgy26HypSNG55wyogRZpPG0JAr6G5FdqWqLcS_4kmJq_OEN5Zka8TxjFcUSoJxbraPeg5IHNyK7C16U9EBrcxZtUyOohnQYT05Vjp7wJNQXjn8U7OWwXWIigCaj8OlDu_8L6kGXYdiTsfFneFgD7MCTZc2/p.svg?fv_content=true&size_mode=5" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" height="500" src="https://previews.dropbox.com/p/orig/ABMBhem6pnIACPEDOy0DpPQsLbZUvFtsjOHTtC12uDObnvE4oVCbSDy5ySkBQ80Kco8_SWJL62ryq9MHZ7Un8u7AXF0z5NyAeAiK-UH3g4pnZrYSMfcVEe-q9U_P4BhUufO4EdaiT0JL3Wn1eaNVHGU4EPL3v43LligQKX_RE-w6mVgfJ7VUFoXT29fVzDpvYvr0Bbw70D2eXYYA7JbyDB7VZVVNx4Lo_YDqijsVm_vxoM1OmgmCUjUQ1TV_kFHQWw6adCkGtrSWP_2eFR_-SF8amnM5EMeEjc1CIz9yOufjmj0YQjTsgviEK_PTnGeMPM5CH0TP-n_SJf6B_wKXPI7j/p.svg?fv_content=true&size_mode=5" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" height="500" src="https://previews.dropbox.com/p/orig/ABOvOxN9f25h42dkCmA8paFX98q16t0LvI79C01bpEZuecBue-0AQrSNojtWGgexB-6RwvQ4XBACe1bWZXYIqkj_qolQ43m32XEmKaWAyhf4AHeBw0b95vcxysh5dV0Dj9Vyzg_7HWnSYUUmx99TNGZQziG-5oi4PhL8R1oZpY7nWTGAVNpJhSmcPZSDepVmFOVlxV3DGbpDQsqDWsQ3IgHBaDT3r4Am3ORxUNzucVm15PCzHCUnjeFsrm5KBteQyuWAIFdCUoUcXAjDpi9rZCgsQVRZx1l-wEyAiiC3y0JhErTiIjuNfqRGTNoIZHi8jSjNOfd-FDqAPJ4RBLuAAAGC/p.svg?fv_content=true&size_mode=5" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="jumbotron d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-bikes"></h2>
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-rents"></h2>
    </div>
</div>

@section Scripts {
    <script>$('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-bikes').text(data.totalBikes + " Bikes");
                $('#total-users').text(data.totalUsers + " Users");
                $('#total-rents').text(data.totalRents + " Rents");
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}
